.navbar {
    background-color: #FFFF;
    min-height: 30px;
    box-shadow: 1px 1px 5px rgb(214, 214, 214);
}

.navbar-links {
    display: flex;
    color: #324256;
    padding: 20px 20px;
    gap: 30px;
    justify-content: center;
    border-bottom: solid 1px #efefef;
}

a {
    color: #324256;
    font-weight: bold;
    position: relative;
    text-decoration: none;  
}

a:hover {
    color: #0CDAC3;
    font-weight: bold;
}