.navbar {
    background-color: #FFFF;
    min-height: 30px;
}

.navbar-links {
    display: flex;
    color: #324256;
    padding: 20px 20px;
    gap: 10px;
    justify-content: center;
    border-bottom: solid 1px #efefef;
}

.navbar-links a {
    color: #324256;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #324256;
    text-decoration: underline;
}